.custom-window-titlebar {
-fx-glass-color: rgba(255, 0, 0, 0.4);
-fx-alignment: center;
-fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 30%), -fx-glass-color);
-fx-border-color: derive(-fx-glass-color, -60%);
-fx-border-width: 2;
-fx-background-insets: 1;
-fx-border-radius: 3;
-fx-background-radius: 3;
-fx-stroke: rgba(255,0,0,50);
-fx-fill: rgba(255,0,0,50);
}